* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: grid;
    padding: 1rem;
    gap: 1rem;
    background-color: #333;
}

#cameras {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
}

.camera {
    width: 100%;
    height: 100%;
    border: none;
    display: none;
}

.camera.active {
    display: block;
}

.camera-wrapper {
    box-shadow: 0 0 0.5rem #000;
    border-radius: 0.5rem;
    overflow: hidden;
}
