* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: grid;
    padding: 1rem;
    gap: 1rem;
    background-color: #333;
}

#cameras {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.25rem;
}

.camera {
    width: 100%;
    height: 100%;
    border: none;
    display: none;
}

.camera.active {
    display: block;
}

.camera-wrapper {
    box-shadow: 0 0 2px #000;
    border-radius: 0.25rem;
    overflow: hidden;
    position: relative;
}

.camera-wrapper:not(.active) {
    background-image: url('./assets/static.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.camera-wrapper:not(.active)::after {
    content: 'CAM OFFLINE';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    font-size: 2rem;
    color: #eee;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(3px);
    text-shadow: 0 0 0.5rem #000;
    z-index: 2;
}

.view-btn {
    position: absolute;
    left: 0;
    bottom: -30px;
    transition: bottom .15s ease-out;
    background: #d33;
    width: 100%;
    height: 30px;
    display: grid;
    place-items: center;
    color: #111;
    text-decoration: none;
    cursor: pointer;
}

.camera-wrapper.active:hover .view-btn {
    bottom: 0;
}

.view-btn:hover {
    text-decoration: underline;
}

#loadOverlay {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background: #333;
    opacity: 1;
    transition: opacity 0.25s ease-out 0.1s;
    z-index: 100;
}

#loadOverlay.hidden {
    opacity: 0;
}
